function Listener.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
call Editor.new 0
pop this 0
push pointer 0
return
function Listener.start 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push constant 100
call Sys.wait 1
pop temp 0
push this 0
push local 0
call Editor.operation 2
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Listener.dispose 0
push argument 0
pop pointer 0
push this 0
call Editor.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
